body, html {
    width:100%;
    height:100%;
    background:ghostwhite;

}

* {
    margin:0;
}

p, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Dosis', sans-serif;
}

input:focus, textarea:focus {
    outline:none;
}


.blocos_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
    position: relative;
}

.blocos_container section {
    width: 81%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blocos_container section article {
    width: calc(98.5%/3);
    margin-bottom: 0.7%;
    height: 16vw;
    background: rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    transition: transform 0.25s ease-in-out, filter 0.3s ease;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.perfil {
    width: calc(98.5%/3);
    margin-bottom: 0.7%;
    height: 16vw;
    background: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.info {
    text-align: center;
    color:white;
    cursor: default;
}

    .info > img {
        position: absolute;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        opacity: 0.2;
    }

    .info h1, .info p {
        position: relative;
        z-index: 2;
    }

    .info h1 {
        font-size: 3.4vw;
        font-weight: 300;
        
    }

    .info p {
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
    }

    .info h4 {
        font-size: 1.5vw;
        font-weight: 300;
        margin-top: 1.5vw;
        text-align: right;
        color: white;
    }

        .blocos_container section article:hover .hidden_space { 
            opacity:1;
            visibility: visible;
            transition: 0.2s 0.9s ease-in-out;
        }

.blocos_container section article:nth-child(1) {
    background-image: url('assets/Ãrabe/img1.jpg')
}


.perfil:nth-child(2) {
    background: crimson;
}



.blocos_container section article:nth-child(3) {
    background-image: url('assets/Japonesa/img1.jpg')
}


.perfil:nth-child(4) {
    background: #008A82;
}

.blocos_container section article:nth-child(5) {
    background-image: url('assets/Popular/img1.jpg')
}


.perfil:nth-child(6) {
    background: #EF9500;
}

.blocos_container section article:nth-child(7) {
    background-image: url('assets/Vegana/img1.jpg')
}

.blocos_container section article:nth-child(8) {
    background-image: url('assets/Mexicana/img1.jpg')
}

.blocos_container section article:nth-child(9) {
    background-image: url('assets/Molecular/img1.jpg')
}

.blocos_container section article:nth-child(10) {
    background-image: url('assets/Brasileira/img1.jpg')
}

.blocos_container section article:nth-child(11) {
    background-image: url('assets/Exotica/img1.jpg')
}

.blocos_container section article:nth-child(12) {
    background-image: url('assets/Italiana/img1.jpg')
}

.blocos_container section article:nth-child(13) {
    background-image: url('assets/Tematica/img1.JPG')
}

.blocos_container section article:nth-child(14) {
    background-image: url('assets/Grega/img1.jpg')
}

.blocos_container section article:nth-child(15) {
    background-image: url('assets/Indiana/img1.jpg')
}

.blocos_container section article:nth-child(16) {
    background-image: url('assets/Peruana/img1.png')
}

.blocos_container section article:nth-child(17) {
    background-image: url('assets/Tailandesa/img1.jpg')
}

.hidden_space {
    position: fixed;
    bottom: 10%;
    top: 10%;
    right: 9%;
    left: 9%;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    overflow-x: hidden;
    z-index: 100;
}

.hidden_space img {
    float: left;
    width: 100%;
    object-fit: cover;
}

.details {
    width: 100%;
    height: 23.6%;
    background: rgba(255,255,255,0.75);
    position: absolute;
    z-index: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
}

.details h2 {
    font-weight: 400;
    position: relative;
    left: 12%;
    font-size: 2vw;
    transition:0.3s ease;
    color:#333;
    cursor: default;
}

    .blocos_container section article:hover .details {
        transform: translateY(-35%);
        opacity:1;
        visibility: visible;
        background: rgba(255,255,255,1);
    }

.hidden_space p {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 3%;
    color: #666;
    margin: 0 auto;
    width: 25%;
    height: 5%;
    cursor: default;
    border-radius: 100px;
    background: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.details p {
    position: absolute;
    right: 10%;
    opacity: 0;
    visibility: hidden;
    transition:1s ease;
    font-size: 1.3vw;
    cursor: default;
    font-weight: 600;
    color: #555;
}

    .blocos_container section article:hover .details p { 
        opacity:0.8;
        visibility: visible;
    }


    .hidden_text{
        height: 100%;
        position: fixed;
        bottom: 10%;
        top: 0;
        right: 36%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
        overflow-x: hidden;
        z-index: 100;
        background-color: white;
        transform: translateX(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
            .contato:hover .hidden_text { 
                opacity:1;
                visibility: visible;
                transform: translateX(0%);
                transition: 0.4s 0.8s ease;
            }

        .hidden_text form {
            width: 70%;
        }
        
        .hidden_text form button{
            width: 94%;
            height: 40px;
            background-color: #333;
            color: azure;
            margin: 0;
            padding: 10px;
            display: block;
            opacity: 1;
            border:none;
            cursor: pointer;
        }

        .hidden_text form textarea{
            display: block;
            width: 90%;
            padding: 10px;
            margin-bottom: 15px;
            height: 23vh;
        }
        
        p:nth-child(8){
            margin-top: 60px;
            margin-bottom: 30px;
        }
        
        
        
    
    .hidden_text form input {
        display: block;
        width: 90%;
        padding: 10px;
        margin-bottom: 2vh;
    }
    
    .hidden_text form input:nth-child(6){
        height: 80px;
    
    }
    
    .hidden_text form span{
        font-size: 1.8vw;
        color: #333;
        text-align: start;
        display: block;
        margin-bottom: 1vh;
    }

    .social_buttons {
        width: 90%;
        height: 10vh;
        position: relative;
        top: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .social_buttons a {
        width: 10vh;
        height: 100%;
        overflow: hidden;
    }

    .social_buttons a img {
        width: 102%;
    }

    .sobre {
        position: fixed;
        right: 0;
        top: 0;
        left: 36%;
        bottom: 0;
        background: white;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transform: translateX(100%);
        opacity:0;
        visibility: hidden;
        transition: 0.4s ease;
    }

        .about:hover .sobre {
            transform: translateX(0%);
            opacity:1;
            visibility: visible;
            transition: 0.4s 0.8s ease;
        }

    .profile_photo_container {
        width: 15vw;
        height: 15vw;
        overflow: hidden;
        border-radius: 1000px;
    }

    .profile_photo_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sobre > p {
        color: #555;
        width: 70%;
        margin: 2.5vh;
        font-weight: 600;
        text-align: justify;
    }

    .profile_header {
        display: flex;
        width: 70%;
        align-items: end;
        justify-content: center;
    }

    .profile_header h3 {
        font-size: 3vw;
        color: #555;
        font-weight: 100;
    }

    .header_details {

    }

    .header_details p {
        color: #555;
        text-align: left;
        margin-left: 10%;
        font-weight: 600;
        font-size: 1.5vw;
    }

    .about:hover .carregando, .contato:hover .carregando {
        opacity: 1;
        visibility: visible;
    }
    
    .carregando {
        position: absolute !important;
        bottom: 4vh;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
        right: 0;
        left: 0;
    }










::-webkit-scrollbar {
    width: 0.8vw;
}

-moz-scrollbar-track {
    width:0.8vw;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

-moz-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,1);
}













@media (max-width:768px) {

    .blocos_container section {
        width: 70.8%;
    }

    .blocos_container section article {
        width: 100%;
        height: 35vw;
    }

    .perfil {
        width: 100%;
    }

    .info h1 {
        font-size: 6vw;
        font-weight: 300;
        position: absolute;
        left: 8%;
        top: 10%;
    }

    .info > p {
        font-size: 3vw;
        letter-spacing: 2px;
        position: absolute;
        left: 8%;
        bottom: 15%;
    }

    .info h4 {
        font-size: 3.5vw;
        font-weight: 300;
        position: absolute;
        right: 6%;
        top: 10%;
    }

    .info > img {
        width:100%;
    }

    .details h2 {
        font-weight: 600;
        left: 8%;
        font-size: 5vw;
    }

    .hidden_space p {
        width: 60%;
    }

    .details p {
        font-size: 4vw;
        font-weight: 800;
        color: #555;
    }

    .blocos_container section article:hover .hidden_space { 
        opacity:1;
        visibility: visible;
        transition: 0.65s 1.5s ease-in-out;
    }

    .carregando {
        width: 90%;
        text-align: right;
    }

    .sobre {
        left: 20%;
        overflow: scroll;
    }

    .profile_header {
        align-items: center;
        position: absolute;
        top: 10%;
        flex-direction: column;
    }

    .profile_photo_container {
        width: 50vw;
        height: 50vw;
    }

    .header_details p {
        text-align: center;
        margin-left: 0;
        font-size: 4.5vw;
    }

    .profile_header h3 {
        font-size: 5vh;
    }

    .descricao {
        top: 60vh;
        font-size: 5vw !important;
    }

    .hidden_text {
        right: 20%;
    }

    .hidden_text form span {
        font-size: 7.8vw;
    }

    .social_buttons a {
        width: 20%;
    }

}